/* =====================
   GLOBAL LAYOUT
===================== */

/* =====================
   GLOBAL LAYOUT
===================== */

.page-content {
  padding-top: 26px;     /* space below Navbar */
  padding-left: 0;
  padding-right: 0;
}
